@import "typeface.css";

*{
    box-sizing: border-box;
}
html{
    background-color:rgb(61, 61, 61)
}
body{
    font-size: 16px;
    font-family: 'Roboto Slab', serif;
    margin: auto;
    max-width: 960px;
    background-color: black;
    color: white;
    padding: 2rem;
    
}
nav{
    display: flex;
    justify-content: right;
    .heart{
        margin-right: 0.15rem;
        margin-bottom: 0.5rem;
        padding: 0.5rem;
        border: 2px solid lightgrey;
        border-radius: 3px;
        color: lightgrey;
    }
    .view{
        margin-right: 0.15rem;
        margin-bottom: 0.5rem;
        padding: 0.5rem;
        border: 1px solid  rgb(124, 123, 123);
        border-radius: 3px;
        background-color: rgb(124, 123, 123);
    }
    .sign-up{
        margin-right: 0.15rem;
        margin-bottom: 0.5rem;
        padding: 0.5rem;
        border: 1px solid rgb(10, 173, 10);
        border-radius: 3px;
        background-color: rgb(10, 173, 10);
        color: black;
    }
    .log-in{
        margin-right: 0.15rem;
        margin-bottom: 0.5rem;
        padding: 0.5rem;
        border: 1px solid wrgb(124, 123, 123)hite;
        border-radius: 3px;
        background-color: rgb(124, 123, 123);
    } 
}
header {
    height: 100%;
    position: relative;
    img{
        width: 100%;
        position: relative;
    }
}
.text-block{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    display: grid;
    place-items: center;
    h1{
        margin-bottom: 0;
    }
}
h3{
    margin-bottom: 0;
}
main {
    section {
       .profile{
            display: flex;
            justify-content: space-between;
            .description a{
                color: white;
            }
            .photos img{
                width: 400px;
                margin-top: 1rem;
                margin-left: 0.5rem;
            }
        }  
    }
}
.intro{
    display: flex;
    justify-content: space-between;
}
.title p{
    text-align: center;
}
.title img{
    width: 200px;
}
footer{
    text-align: center;
    margin: 3rem 1rem 0;
}